@import url('font/font.css');

html{
	height:100%;
}

html, * {
	scroll-behavior: smooth !important;
	scroll-padding-top: 20px;
}

button{
	cursor:pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	appearance: none;
    font-family: var(--fontStyle);
}
button:hover {
	filter: brightness(0.8);
}
a {
	color: var(--accentColor);
}
a:hover {
	opacity: 1!important;
}
p {
    line-height: 1.4;
	margin: 0;
	font-weight: 300;
	word-break: break-word;
}

.hidden{
	display: none;
}

q::before, q::after {
	content: none;
}

body{
	font-family: var(--fontStyle), Helvetica, sans-serif;
	font-size: var(--fontSize);
	margin: 0;
	color:var(--contentFG);
	background-color:var(--rootBG);
	height:100%;
}

#root {
	padding-block-start: 120px;
    display: flex;
    flex-direction: column;
	min-height:100%;
	box-sizing: border-box;
}

.binImgInline {
	overflow: hidden;
	border-radius: 8px;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-block: 0.3em 0.2em;
}

ul[hidden="true"] {
	display: none!important;
}
ul, ol {
	margin-block-start: 0.3em;
}

table {
	border-color: var(--thBD);
}
table p {
	font-weight: initial;
	word-break: keep-all;
}

/* SCROLLBARS */
@media (min-width:800px){
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	::-webkit-scrollbar-track {
		background: var(--contentBG);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--accentColor);
		border-radius: 6px;
	}
}

/* INPUT RANGE */
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 15rem;
}
input[type="range"]:focus {
   outline: none;
}
 
/***** Chrome, Safari, Opera and Edge Chromium styles *****/
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #E6E6E2;
	border-radius: 0.5rem;
	height: 0.5rem;  
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
	appearance: none;
	margin-top: -.25rem; 
	border-radius:50%;
	background-color: var(--accentColor);
	height: 1rem;
	width: 1rem;
}
 
/******** Firefox styles ********/
input[type="range"]::-moz-range-track {
	background-color: #E6E6E2;
	border-radius: 0.5rem;
	height: 0.5rem;
}
input[type="range"]::-moz-range-thumb {
	border: none; 
	border-radius: 0;
	border-radius:50%;
	background-color: var(--accentColor);
	height: 1rem;
	width: 1rem;
}

/* HEADER + Menu*/
header,
#navMenu {
	position: fixed;
	left: 0;
	right: 0;
    display: flex;
    align-items: center;
	background-color: var(--headerBG);
	color: var(--headerFG);
	border-bottom: 1px solid var(--headerBD);
    z-index: 999;
}

header {
	top: 0;
	height: 54px;
}

#navMenu {
	top: 55px;
	min-height: 40px;
}

header > .line,
#navMenu > .line {
	width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
	max-width: var(--maxWidth);
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 0.3em;
	padding-inline: 0.5em;
}

header .binImgInline {
    max-height: 45px;
    width: auto;
	border-radius: 8px;
}

header h1 {
	flex: 1;
	margin: 0;
	font-size: 1.2rem;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#mobileZone .mobile {
	padding: 0.5em 0.6em;
	background-color:var(--accentColor);
	color:var(--accentColorFG);
	border-radius: 6px;
	display: flex;
    gap: 3px;
    align-items: center;
}

#mobileZone .mobile::before{
	font-family:"fontello";
}
#mobileZone .install.mobile::before{content:"\E801";}
#mobileZone .offline.mobile::before{content:"\E807";}
#mobileZone .downloaded.mobile::before{content:"\F0A0";}

#mobileZone .downloading.mobile::before{
	content:"";
	background:url("img/download.svg") no-repeat center center / 19px auto;
	width: 19px;
	height:19px;
	display: inline-block;
}

#mobileZone .update.mobile::before{
	content:"";
	background:url("img/update.svg") no-repeat center center / 19px auto;
	width: 19px;
	height:19px;
	display: inline-block;
}

.mobileFixedNav{
	display:none;
    padding: 0.6em 0.8em;
    position: fixed;
    bottom: 3em;
    background-color: var(--accentColor);
    min-height: 40px;
    color: var(--accentColorFG);
    z-index: 999;
	border-radius: 8px;
	box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.25);
}

.mobileFixedNav.seeCrits{
	left:1em;
}
.mobileFixedNav.seeTaxLst,
.mobileFixedNav.taxFound{
	right:1em;
}

.mobileFixedNav.seeCrits::before{
	font-family: "fontello";
	content:"\2039";
	margin-right:.5em;
}
.mobileFixedNav.seeTaxLst::after,
.mobileFixedNav.taxFound::after{
	font-family: "fontello";
	content:"\203A";
	margin-left:.5em;
}

/* MAIN */
main{
	max-width: var(--maxWidth);
	margin:0 auto;
	width:100%;
}

footer{
	flex: 0 0 40px;
	display:flex;
	align-items: center;
	padding: 0 .5em;
	max-width: var(--maxWidth);
	color: var(--footerFG);
	margin:0 auto;
	margin-block-start: 1em;
	width:100%;
	box-sizing: border-box;
	font-size: 0.9rem;
}

footer .tplFootBanner {
    flex: 2 1 auto;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .meta.license {
    display: flex;
    align-items: center;
}

a.cc-button {
    margin: 0 .5em;
    vertical-align: middle;
}

/* Player */
.tePlayer.teAudioType .tepController {
	background-color: var(--accentColor);
	border: 1px solid var(--borderColor);
}

/* Texts */
.txt_tb{
	margin:auto;
	border-collapse: collapse;
	width: 100%;
}
th p {
    text-align: center;
}
.txt_tb td, .txt_tb th {
    padding: 5px;
    border:1px solid var(--thBD);
    min-width: 60px;
}
.txt_tb th {
    background-color: var(--thBG);
}
.txt_tbcp {
	font-style: italic;
	font-size: 0.85rem;
	margin-block-end: 3px;
}
.txt_t_tbcl,
.txt_t_tbtr{
	background-color: color-mix(in oklab, var(--accentColorLight), transparent 40%);
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}

.txt_img_ex, .txt_multimedia_ex {
    text-align: center;
    margin-block: 0.5em;
}

figure {
	margin: 0;
}

figcaption.binCap_ti {
    font-size: 0.85rem;
    margin-block-start: 3px;
}
figcaption.binCap_ti span.license::before {
    content: " - ";
}
figcaption.binCap_ti .capTi > div {
	display: inline-block;
}

/* Menu */
#navMenu ul, footer ul {
	display: flex;
	list-style: none;
	margin:0;
	padding:0;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
}
#navMenu li{
	position:relative;
}

#navMenu button, footer button{
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	font-size: 0.9rem;
}
#navMenu button {
	color: var(--accentColor);
}
#navMenu button{
	border-bottom: 3px solid transparent;
}
footer button{
	color: var(--footerFG);
}
#navMenu button.selected, #navMenu button.selected:hover,
footer button.selected, footer button.selected:hover{
	border-color: var(--accentColor);
	color: var(--headerFG);
}

#navMenu button[data-tab="rightDesktopPanel"]{
	display:none;
}

input#addMyPhotoInput,
label[for="addMyPhotoInput"],
.openNavMenu span {
    position: absolute;
    left: -9999px;
}

input.addPhoto {
	appearance: none;
	display: flex;
	border: 1px solid var(--searchBG);
	border-radius: 5px;
	color: transparent;
	width: 25px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
input.addPhoto:hover {
	filter: brightness(0.8);
}
input.addPhoto::before {
	font-family: "fontello";
	content:"\E802";
	color: var(--accentColor);
	font-size: 1.2rem;
    text-align: center;
}
input.addPhoto::file-selector-button {
	display: none;
}

button.openNavMenu {
	width: 40px;
	height: 40px;
	font-family:"fontello";
	font-size: 1.5rem;
	position: fixed;
	top: 8px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color:var(--accentColor);
	display:none;
	color: var(--accentColorFG);
	z-index: 999;
	border-radius: .3em;
	border: none;
	margin-right:0;
}
button.openNavMenu::before{
	content:"\2630";
}
button.openNavMenu span {
	display: none;
}

.showMenu + button.openNavMenu{
	background-color:var(--accentColor);
	color:var(--accentColorFG);
}

.home #main {
	display:flex;
	gap: 1.5em;
	flex: 2 1 auto;
	padding: 0 0.5em;
	box-sizing: border-box;
}
#main > * {
	flex: 2 1 auto;
}
#taxonomy{
	overflow-y: auto;
}

/* RIGHT PANEL */
#keys.tab.selected + #rightDesktopPanel{
	display:flex;
	flex: 1 1 35%;
}
#rightDesktopPanel {
	gap: 0.5em;
}

/* PHOTO */
#ownPhoto{
	position:relative;
	text-align: center;
	background-color: #a1a1a1;
	border-bottom: 1px solid var(--borderColor);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ownPhoto img{
	max-width:100%;
	height:auto;
}
#ownPhoto .tools{
	position:absolute;
    top: 0;
    right: 0;
}
#ownPhoto .tools span{
	position: absolute;
	left:-9999px;
}


/* TABS */
#main .tab{
	display:none;
	flex-direction: column;
	position: relative;
}
#main .tab.selected{
	display:flex;
}
#main #keys{
	gap: 0.3em;
	max-width: 60%;
}

.taxlistHead, .keysHead{
	display:flex;
	align-items: center;	
	color: var(--titleFG);
    box-sizing: border-box;
    min-height: 30px;
}
.taxlistHead {gap: 3px;}
.keysHead {gap: 8px;}
.keysHead .keysTitle, .taxlistHead .headTitle{
    font-size: 1.2rem;
    font-weight: 700;
}
.keysHead .keysTitle {
	flex: 1 1 auto;
}
.taxlistHead .headTitle {
    flex: 0 0 auto;
}

/* TAXLIST */
#taxlist{
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.hasPhoto #keys.tab.selected + #taxlist{
	display:none;
}
#taxoCount{
	margin-inline-start: 3px;
}
.taxoCount{
	font-size: 0.8rem;
	flex: 2 1 auto;
	color: var(--contentLightFG);
}

/* KEYS */
#keys{
	position:relative;
	flex: 0 0 60%;
	box-sizing:border-box;
}
#keys.hidden{
	display: none;
}

div.keys{
	flex: 2 1 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.6em;
}
div.keys.scroller{
	overflow-y:auto;
}
.keysHead > button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	color:var(--accentColor);
	font-size: 0.85rem;
	border: 1px solid var(--searchBG);
	border-radius: 5px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	padding-inline: 5px;
}
.keysHead > button::before{
	font-family:"fontello";
	content:"\e80c";
	font-size: 1rem;
}
.keysHead > button span {
	position: absolute;
	left: -9999px;
}
.copySuccess{
	font-size: 0.9rem;
    color: var(--successColor);
    display: flex;
    gap: 3px;
}
.copySuccess::before{
	font-family: "fontello";
	content:"\E812";
}

.mainCrits{
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}
div.filter{
	flex: 0 0 auto;
    display: flex;
    justify-content: center;
}
div.filter label{
	position:relative;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-block: 0.1em;
    padding-inline-start: 0.2em;
    background-color: var(--searchBG);
    border-radius: 5px;
    min-height: 22px;
}
div.filter input{
	order: 2;
	appearance: none;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
}
div.filter input::placeholder {
	color: color-mix(in oklab, var(--searchFG) 40%, var(--searchFG) 20%);
}
div.filter input:focus::placeholder {
	color: color-mix(in oklab, var(--searchFG) 10%, var(--searchFG) 10%);
}
div.filter button {
	order: 1;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--searchFG);
    font-family: "fontello";
}
div.filter button::before{
	content:"\E800";
}
div.filter button span,
div.filter label span{
	position:absolute;
	left:-9999px;
}
div.secondaryCritsCtrls{
	flex: 0 0 50px;
}
.secondaryCritsCtrls .seeMore, .secondaryCritsCtrls .seeLess{
	height: 100%;
	width: 100%;
}

#taxonomy ul, #taxlist ul {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin:0;
	list-style: none;
	padding: .5em;
	background-color: var(--contentBG);
	border-radius: 8px;
}
#taxlist ul {
	max-height: 70vh;
	overflow-y: auto;
}

#taxonomy ul.outline, #taxlist ul {
	box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}

#taxonomy ul a, #taxlist ul a {
	display: block;
	margin: 0;
	text-decoration: none;
	padding-block: 1px;
	color: var(--contentFG);
	font-size: 0.9rem;
	opacity: 0.8;
}
#taxlist ul a {
	border-left: 3px solid var(--accentColorLight);
	padding-inline-start: .5em;
}
#taxonomy ul a {
	color: var(--accentColor);
}
#taxonomy ul a:hover, #taxlist ul a:hover{
	opacity: 1;
}
#taxlist ul li.selected a {
	border-left-color: var(--accentColor);
}
#taxlist ul li.partialSelected a {
	border-left-color: color-mix(in oklab, var(--accentColor), transparent 30%);
}
#taxlist ul li.selected a .commonName {
	font-weight: 700;
	color: var(--titleFG);
}
#taxlist ul li.unselected a{
	opacity: 0.3;
}

#taxonomy ul li {
	padding-inline-start: 1.4em;
}

span.scientificName{
	font-style:italic;
}
span.score{
	display:inline-block;
    font-size: 0.9rem;
    margin-inline-start: 5px;
}

li.node{
	position:relative;
	padding-left: 2em;
}
li.node > a {
	font-weight: 700;
}
button.closeTaxo, button.openTaxo{
	position:absolute;
	left:0;
	top:0;
	border: none;
	background-color: transparent;
}
button.closeTaxo::before{
	font-family: "fontello";
	content:"\E80B"
}
button.openTaxo::before{
	font-family: "fontello";
	content:"\E806"
}
button.closeTaxo span, button.openTaxo span{
	position:absolute;
	left:-9999px;
}

/* MODAL */
dialog[open]::backdrop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color:rgba(0,0,0,0.7);
	z-index: 999;
}
dialog[open] {
	display: flex;
    flex-direction: column;
    border: 0 solid;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.65);
    overflow: hidden;
    width: 100%;
    height: 100%;
	max-width: var(--maxWidth);
}
dialog.confirm, dialog.alert{
	top: 15%;
    bottom: auto;
    left: 50%;
	right: auto;
	transform: translate(-50%);
	max-width:600px;
	height: auto;
	padding: 4em 2em 5em;
	box-sizing: border-box;
	border-radius: .2em;
}
dialog button.close{
	position: absolute;
	right: 0;
    top: 0;
    color:var(--accentColor);
    background-color: transparent;
	height: 30px;
	width: 30px;
	z-index: 999;
}
dialog button.close::before{
	font-family:"fontello";
	content:"\E80F";
}
dialog button.close span{
	position: absolute;
	left: -9999px;
}

.forms > div {
	border-bottom: 1px solid var(--borderColor);
	padding: 0.5em 0;
}

.navtools{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:40px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    box-sizing: border-box;
	background-color: var(--headerBG);
}

.navtools button.next, .navtools button.previous{
	border: none;
    background-color: transparent;
    z-index: 999;
    color:var(--accentColor);
    display: flex;
    align-items: center;
	padding: 0;
	flex: 0 0 33%;
	overflow: hidden;
}
.navtools button.next{
	justify-content: flex-end;
}
.navtools button[disabled="true"]{
	opacity: 0;
}

.navtools button span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
}

.navtools button.next::after{
	font-family: "fontello";
	content:"\203A";
	margin-left: .5em;
}
.navtools button.previous::before{
	font-family: "fontello";
	content:"\2039";
	margin-right:.5em;
}

.selectTaxo {
    background-color: #e7d9fd;
    border-radius: 1em;
    color: #6f4f9e;
    padding: .5em;
    margin: 0 .5em;
}

.subWindowOverlay dialog button.close{
	display:none;
}
.subWindowOverlay dialog .navtools {
    background: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.6);
}
.subWindowOverlay dialog .navtools button:not([disabled="true"]){
	opacity: 0.6;
	pointer-events: none;
}

/* TOOLTIP */
a.tt_a {
	text-decoration: none;
	border-block-end: 1px solid;
	display: inline-flex;
	align-items: baseline;
	gap: 3px;
}
a.tt_a:hover {
	border-block-end: 1px dashed;
}
a.tt_a::after {
	font-family: "fontello";
	content: "\E800";
	display: inline-block;
}

#scTooltip0 {
	background-color: var(--contentBG);
	border-radius: 8px;
	box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}

#scTooltip0 .tt_x {
	text-decoration: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
}
#scTooltip0 .tt_x::before {
	font-family: "fontello";
    content: "\E80F";
    color: var(--contentFG);
}
#scTooltip0 .tt_x:hover {
	filter: brightness(0.5);
}
#scTooltip0 .tt_x span {
	position: absolute;
	left: -9999px;
}

#scTooltip0ti, #scTooltip0Scrol {
	padding-inline-end: 20px;
}

/* FICHE */
body.taxon #root{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	padding-block-start: 0;
	overflow: hidden;
}
body.taxon header{
	flex-direction: column;
    align-items: flex-start;
    padding: 1em;
	position: relative;
	height: auto;
	padding-block-end: 0;
}

body.taxon header .taxref {
	grid-area: taxref;
	color: var(--contentLightFG);
	font-size: 0.9rem;
}
body.taxon header .otherName {
	grid-area: otherName;
	color: var(--contentLightFG);
	font-size: 0.9rem;
}

body.taxon header .pageOutline ul {
	justify-content: initial;
}

body.taxon header span.meta_name {
	font-style: italic;
	font-size: 0.9rem;
}
body.taxon header span.meta {
	font-size: 0.9rem;
}
body.taxon header span.meta a {
	color: var(--accentColor);
}
body.taxon header span.meta a:hover {
	filter: brightness(0.85);
}

body.taxon main{
	box-sizing: border-box;
	padding-inline: 1em;
	padding-block: 1em 25em;
	max-width:100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
body.taxon h1{
	margin:0;
	flex: 1 1 auto;
	font-size: 1.7em;
	white-space: initial;
}
body.taxon h2.illus_ti{
	visibility: hidden;
	margin: 0;
}
body.taxon h2.illus_ti span{
	position: absolute;
	left:-9999px;
}

body.taxon main > * {
	border-block-end: 1px solid color-mix(in oklab, var(--borderColor), #000 5%);
	padding-block: 1em 1.5em;
}
body.taxon main > * h2 {
	margin-block-start: 0;
}

ul.subNodes{
	padding-left:0;
	list-style: none;
}
ul.subNodes li{
	margin:0.2em 0;
}
ul.subNodes li a{
	text-decoration: none;
	border-left: 4px solid var(--accentColor);
    padding-left: .5em;
    color: black;
}

body.taxon .bkBase h3 {
	font-weight: 700;
	margin-block: 0.3em 0.1em;
}

body.taxon .classif > .classif_co,
body.taxon .keyValues > .keyValues_co,
body.taxon .description > .description_co {
	padding-inline-start: 0.5em;
}

/* IDENTIFICATION */
.keyValues_co {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
}
.taxon .crit{
	display:flex;
	flex-direction: column;
	break-inside: avoid;
	padding: 0.6em;
    background-color: var(--contentBG);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}

.taxon .critHead{
	border-bottom: none;
	font-weight: 700;
}

.taxon .critBody{
	margin-top:.5em;
	display:flex;
	flex-wrap: wrap;
	gap: 0.3em;
}

.taxon span.critval {
	flex: 1 1 auto;
    display: flex;
	align-items: center;
	font-size: 0.9rem;
	box-sizing: border-box;
	break-inside: avoid;
	overflow: hidden; /*Fix for firefox */
	gap:.3em;
	border-radius: 8px;
	padding: 0.2em;
}
.taxon span.critval.selected,
.taxon .crit.selFailed span.critval{
	border: 1px solid var(--borderColor);
}

.taxon span.critval > img{
	max-width:40px;
	height:auto;
}

.taxon span.critval::after {
	font-family: "fontello";
	border-radius: 50em;
    padding: 4px;
    color: var(--accentColorFG);
	margin-left: auto;
}

.taxon span.critval.selected::after {
    content: "\E812";
    background-color: var(--successColor);
}

.taxon .crit.selFailed span.critval::after {
    content: "\E80F";
    background-color: color-mix(in oklab, var(--errorColor), transparent 50%);
}

/* LOCAL OUTLINE */
.pageOutline{
	grid-area: pageOutline;
}
.pageOutline ul{
	display:flex;
	align-items: center;
	gap: 0.5em;
	margin:0;
	padding:0;
	list-style: none;
	flex-flow: wrap;
    justify-content: center;
}
.pageOutline ul li a{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--accentColor);
    font-size: 0.9rem;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.pageOutline ul li a:hover {
	filter: brightness(0.8);
}
.pageOutline ul li a.selected{
	border-color: var(--accentColor);
	color: var(--headerFG);
}

/* CLASSIFICATION */
div.nature{
	margin-block-end: 0.5em;
}
div.nature span.meta_name {
	font-weight: 700;
}
.classifNode{
	padding-left: 20px;
    position: relative;
    padding-top: 11px;
    margin-top: -4px;
}
.classifNode .pres{
	position: relative;
	padding-inline-start: 15px;
    border-inline-start: 2px solid;
    border-color: color-mix(in oklab, var(--accentColor), #000 75%);
}
.classifNode .pres::before{
	content: "";
    width: 20px;
    height: 20px;
    background-color: color-mix(in oklab, var(--accentColor), #000 75%);
    border-radius: 50%;
    position: absolute;
    left: -11px;
    top: 0;
}
.classifNode .pres_ti{
	font-weight:700;
	color: color-mix(in oklab, var(--accentColor), #000 75%);
}

.classifNode .classifNode::before{
	content: "";
    position: absolute;
    left: 0;
	width: 20px;
	height: 20px;
	border-inline-start: 2px solid;
    border-block-end: 2px solid;
    border-color: color-mix(in oklab, var(--accentColor), #000 50%);
    border-bottom-left-radius: .5em;
    top: 0;
}
.classifNode .classifNode .pres::before{
    background-color: color-mix(in oklab, var(--accentColor), #000 50%);
}
.classifNode .classifNode .pres_ti{
	font-weight:700;
	color: color-mix(in oklab, var(--accentColor), #000 50%);
}

.classifNode .classifNode .classifNode::before,
.classifNode .classifNode .pres{
	border-color: color-mix(in oklab, var(--accentColor), #000 25%);
}
.classifNode .classifNode .classifNode .pres::before{
	background-color: color-mix(in oklab, var(--accentColor), #000 25%);
}
.classifNode .classifNode .classifNode .pres_ti{
	color: color-mix(in oklab, var(--accentColor), #000 25%);
}

.classifNode .classifNode .classifNode .classifNode::before,
.classifNode .classifNode .classifNode .classifNode .pres{
	border-color: var(--accentColor);
}
.classifNode .classifNode .classifNode .classifNode .pres::before{
	background-color: var(--accentColor);
}
.classifNode .classifNode .classifNode .classifNode .pres_ti{
	color: var(--accentColor);
}

/* HISTORY */
div.keys > .history{
    padding: 0.6em 0.8em;
    margin-block-end: 0.2em;
    background-color: var(--accentColor);
    color: var(--accentColorFG);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.history .tools{
	display:flex;
	gap: 5px;
}
.history .tools button{
	width: 35px;
	height: 35px;
	border-radius: 0.3em;
}
.history .tools button span{
	position:absolute;
	left:-9999px;
}

.critHitoSize {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--accentColorFG);
}
.critHitoSize > span {
    font-size: 1.1rem;
}
.critHitoSize::before{
	font-family:"fontello";
	content:"\E806";
}
.history.opened .critHitoSize::before{
	content:"\E80B";
}

.history.closed .histo_content{
	display:none;
}

.history .reset{
	color:var(--accentColorFG);
	text-decoration: underline;
}

.histo_content {
	flex: 1 1 100%;
	display: flex;
    gap: 5px;
    flex-direction: column;
}

/* TOOLS */
dialog .tools{
	display:flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0.25em;
	top: auto;
	bottom: 1em;
	right: 1em;
}
.tools button.edit{
	background-color: var(--contentBG);
}
.tools button.edit::before {
	font-family:"fontello";
	content:"\E805";
}
.tools button.remove{
	background-color: var(--contentBG);
	color: var(--errorColor);
}
#ownPhoto .tools button.remove{
	height:32px;
	width:32px;
	border-bottom-left-radius: 8px;
}
.tools button.remove::before {
	font-family:"fontello";
	content:"\E804";
}
.tools button.seeDetails, .tools button.closeDetails{
    border: none;
    background-color: transparent;
    color: var(--accentColor);
	display: flex;
	align-items: center;
	gap: 3px;
	font-size: 0.9rem;
}
.tools button.seeDetails::after{
	font-family:"fontello";
	content:"\E80B";
	font-size: 0.8rem;
}
.tools button.closeDetails::after{
	font-family:"fontello";
	content:"\E80D";
	font-size: 0.8rem;
}

.tools button.select{
	background-color: var(--accentColor);
	border-radius: 1em;
	color: var(--accentColorFG);
	padding: .5em;
	width: 75px;
}

.critSlider {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.critSlider > span {
    color: var(--accentColorLight);
	font-size: 1.1rem;
}

input.slider {
	flex: 2 1 auto;
}

input.sliderTxt{
    border: 1px solid #d7d7d7;
    background-color: var(--rootBG);
    border-radius: 1em;
    padding: 0.2em;
    box-sizing: border-box;
    height: 24px;
}

#keys .illus{
	display:flex;
}
#keys .content{
	flex:2 1 auto;
}
span.shortDesc {
	color: var(--contentLightFG);
	font-size: 0.9rem;
	font-weight: 300;
	display: block;
}
span.shortDesc p{
	margin:0;
}

#keys .crit > .tools {
	padding: .5em;
	text-align: right;
	display: block;
	border-top: 1px solid var(--borderColor);
}
dialog .tools button.valid, 
#keys .crit > .tools button, 
#keys .crit button.select{
	width:auto;
	height:auto;
	padding: 0.5em 0.8em;
	background-color:var(--accentColor);
	color:var(--accentColorFG);
	border-radius: .2em;
	font-size: 0.9rem;
}
dialog .tools button.cancel{
	color:var(--accentColor);
	padding: 0.5em 1em;
}
dialog .tools button[disabled], #keys .crit .tools button[disabled]{
	opacity: 0.3;
	cursor: initial;
}
dialog .tools button[disabled]:hover, #keys .crit .tools button[disabled]:hover{
	filter: brightness(1.0);
}
dialog .tools button span, #keys .crit > .tools button span{
	position:static;
}
dialog iframe{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 40px;
	width:100%;
	height:calc(100% - 40px);
	border: none;
	border-block-end: 1px solid var(--borderColor);
}

/* INFO/LEGAL */
#info, #legal{
	padding:1em;
	position: relative;
	overflow-y: auto;
}
#info h2, #legal h2{
    margin-block-start: 0;
}
#info > div, #legal > div{
	flex: 2 1 auto;
}
.back2Criterions{
	color: var(--accentColor);
	border: 1px solid var(--borderColor);
    height: 40px;
    padding: 0 .5em;
    align-self: flex-start;
	line-height: 40px;
	font-size: 0.9rem;
}
.back2Criterions::before {
    font-family: "fontello";
    content: "\E80A";
    margin-right: .5em;
}

/* ---------- Gallery ---------- */
.imgLoading .scImgGalCvs::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("img/co/loader.svg");
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}
.imgLoading .scImgGalFra {
	display: none;
}
.galFra,
.galMiniFra {
	display: flex;
	overflow-x: auto;
}
.galFra::before ,.galFra::after, .galMiniFra::before, .galMiniFra  {
	content:'';
	flex:1;
}
.galMiniFra {
	justify-content: start;
}
.galFra img {
	padding: 5px;
	max-height: 200px;
}
.galMiniFra img {
	height: 80px;
	width: auto;
}
.scImgSep {
	display: none;
}
a.galPvLnk:hover {
	opacity: 0.8!important;
}
.scImgGalCvs {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scImgGalImgFra {
	background-color: var(--contentBG);
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 30px;
	overflow: hidden;
}
.scImgGalCo {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 0;
}
.scImgGalTbr {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.scImgGalTbr .scImgGalCount {
	display: inline;
	bottom: 5px;
	right: 35px;
	font-style: italic;
	color: gray;
	cursor: default;
}
div.scImgGalOver,
div.scImgZmOver {
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
div.scImgGalTi {
	font-style: italic;
	color: gray;
	cursor: default;
	font-size: 0.9rem;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
div.scImgGalTbr span,
a.scImgGalBtnCls span {
	display: none;
	position: absolute;
}
a.scImgGalBtnCls,
a.scImgZmBtnCls,
a.scImgSeqBtnCls,
div.scImgGalTbr a,
a.scImgSeqBtnPrv,
a.scImgSeqBtnNxt,
a.scImgSeqBtnPlay,
a.scImgSeqBtnPause {
	font-family: "fontello" !important;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	width: 30px;
	text-align: center;
	text-decoration: none;
}
a.scImgGalBtnCls:before,
a.scImgZmBtnCls:before,
a.scImgSeqBtnCls:before {
	content: "\E80F";
}
a.scImgGalBtnCls,
a.scImgZmBtnCls,
a.scImgSeqBtnCls {
	display: block;
	top: 5px;
	right: 5px;
	font-size: 1.1rem;
}
.isMobile_true a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls,
.isMobile_true a.scImgSeqBtnCls {
	top: 10px;
}
a.scImgGalBtnCls,
.isMobile_true a.scImgZmBtnCls,
.isMobile_true a.scImgSeqBtnCls {
	position: absolute;
}
div.scImgGalTbr a {
	display: block;
	position: absolute;
}
div.scImgGalTbr a:hover {
	text-decoration: none;
}
a.scImgGalBtnPrv,
a.scImgGalBtnNxt {
	top: 1.5em;
	font-size: 2rem;
	margin-top: -1.25em;
	position: fixed !important;
	width: 1em !important;
	height: 100%;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.isMobile_true a.scImgGalBtnPrv,
.isMobile_true a.scImgGalBtnNxt {
	position: absolute !important;
}
a.scImgGalBtnPrv:before {
	content: "\E80A";
}
a.scImgGalBtnPrv {
	left: 5px;
}
a.scImgGalBtnNxt:before {
	content: "\E806";
}
a.scImgGalBtnNxt {
	right: 5px;
}
a.scImgGalBtnPse:before {
	content: "\ea16";
}
a.scImgGalBtnPly,
a.scImgGalBtnPse {
	font-size: 1.5rem;
	color: gray !important;
	bottom: 4px;
	right: 0;
}
a.scImgGalBtnPly:before {
	content: "\ea15";
}
.noScroll {
	overflow: hidden;
}

/* ---------- sequence ---------- */
.scImgSeqOver {
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.scImgSeqMag {
	box-shadow: 0 0 5px 0 #000000;
	cursor: crosshair;
}
.seqFra,
.seqFraMini {
	display: flex;
	justify-content: center;
}
a.scImgSeqBtnPrv:before {
	content: "\2039";
}
a.scImgSeqBtnPrv {
	left: 5px;
}
a.scImgSeqBtnNxt:before {
	content: "\203A";
}
a.scImgSeqBtnNxt {
	right: 5px;
}
a.scImgSeqBtnPause:before {
	content: "\ea16";
}
a.scImgSeqBtnPlay,
a.scImgSeqBtnPause {
	margin-top: 2px;
}
a.scImgSeqBtnPlay:before {
	content: "\ea15";
}
.scImgSeqToolsOver {
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
.scImgSeqToolsOver a {
	color: #666 !important;
	font-size: 1.7rem;
}
.seqFra .galPv {
	margin-top: 0.3em;
	visibility: hidden;
}
.seqFraMini .galPv {
	visibility: hidden;
}
.seqFraMini img {
	width: 180px;
	height: auto;
}
a.scImgSeqBtnCls span,
a.scImgSeqBtnPrv span,
a.scImgSeqBtnNxt span,
a.scImgSeqBtnPlay span,
a.scImgSeqBtnPause span {
	display: none;
}

/* ---------- zoom ---------- */
div.scImgZmCvs,
div.scImgSeqCvs {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}
.imgLoading .scImgZmCvs::before,
.imgLoading .scImgSeqCvs::before {
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("img/co/loader.svg");
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 2001;
	width: 100%;
	height: 100%;
}
div.scImgZmFra {
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
div.scImgZmTlb {
	margin-top: 5px;
	text-align: right;
}
a.scImgZmBtnCls,
a.scImgSeqBtnCls {
	position: fixed;
}
a.scImgZmBtnCls span,
a.scImgGalBtnNoPrv {
	display: none;
}
.scImgZmCo,
.scImgSeqCo {
	text-align: center;
}
.scImgZmCo div,
.scImgSeqCo div {
	z-index: 2002;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 0px;
}
.scImgZmCo iframe,
.scImgSeqCo iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	border: 0px;
}
.scImgZmCo a,
.scImgSeqCo a {
	text-decoration: none;
}
.scImgZmCo a img,
.scImgSeqCo a img {
	border: 0px;
}
.scImgZmCo img,
.scImgSeqCo img {
	background-color: white;
}


/* CRIT */
div.keys > .crit,
.crit.edit.histo {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0.8em;
    background-color: var(--contentBG);
    border-inline-start: 2px solid var(--accentColor);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}

.critlist {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

div.keys.scroller .critlist,
div.keys.scroller > .crit,
div.keys.scroller .critContent{
	overflow-y: visible;
}

.critListHead {
	display:flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}
.critListHead .headTitle{
	flex:2 1 auto;
}

.critHead {
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.critHead .return{
	color:var(--accentColor);
    display: flex;
    align-items: center;
    gap: 3px;
}
.critHead .return::before{
	font-family: "fontello";
	content:"\E80A";
}
.critHead .illus img{
    width: auto;
    max-height: 30px;
    border-radius: 3px;
}
.critHead > .content {
	font-size: 1.1rem;
	color: var(--titleFG);
	font-weight: 700;
}

.exclusiveCrits {
	display:flex;
	flex-direction: column;
	gap: 5px;
	padding: 0.5em;
	background-color: var(--contentBG);
	border-radius: 8px;
	box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}

.critContent{
	flex: 2 1 auto;
}
ul.critVals{
	list-style: none;
	padding: 0;
	margin: 0;
}
li.critVal{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: 8px;
    border-block-end: 1px solid var(--borderColor);
}
li.critVal:only-child, li.critVal:last-child  {
    border-block-end: none;
}
li.critVal.histoSelected .critBlk .tools::after{
	font-family: "fontello";
	content: "\E812";
    width: 25px;
    height: 25px;
    border: 1px solid var(--successColor);
    color: var(--successColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
}
.step{
	margin:0.5em 0;
	border-radius: .2em;
}
.step.history{
	box-sizing: border-box;
	border-radius: 0;
    border-block-end: 1px solid;
    border-color: color-mix(in oklab, var(--borderColor), transparent 50%);
    padding-block: 5px;
}
.step.history:only-child, .step.history:last-child {
    border-block-end: none;
}

.step.history ul{
	margin: 0;
	list-style-type: "- ";
	padding-left: 1em;
}

.step.history .content .crit {
	font-size: 0.9rem;
}

.step.history .illus img {
	max-width: 55px;
	height: auto;
}

.step.history .critVal{
	opacity: 0.85;
	font-size: 0.8rem;
	display: block;
}

li.critVal .critBlk, .step{
	display: flex;
	align-items: flex-start;
	gap: 10px;
	margin: 0;
}
li.critVal .critBlk a{
	display: flex;
	align-items: center;
	gap: 0.5em;
	min-height: 75px;
	text-decoration: none;
	color:black;
	flex: 2 1 auto;
}

li.critVal .critBlk a.multival::before{
	font-family:"fontello";
	content:"\e809";
	color: var(--accentColor);
    font-size: 1.5rem;
}
li.critVal.selected .critBlk a.multival::before{
	content:"\e810";
}

li.critVal .critBlk .tools{
	flex: 0 0 auto;
	display: flex;
	gap: 8px;
}

a.selectCrit{
	text-decoration:none;
    padding: 0.8em;
    background-color: var(--contentBG);
    border-inline-start: 2px solid var(--accentColor);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
}
a.selectCrit.opened .step::before{
	font-family: "fontello";
	content:"\2039";
    display: flex;
    align-items: center;
    justify-content: center;
}
a.selectCrit.opened + .crit {
    margin-left: 1em;
}

a.selectCrit:hover {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.25);
	filter: brightness(0.95);
}

a.selectCrit .step {
	align-items: center;
}

a.selectCrit .step::after{
	font-family: "fontello";
	content:"\271A";
	font-size: 1.5rem;
	color: var(--accentColor);
	padding: 0.6em;
}

.critValScore{
	font-style: italic;
	border-inline-start: 2px solid var(--borderColor);
    display: block;
    padding: 5px;
}

li.critVal .desc{
	padding: 5px;
    border-inline-start: 2px solid var(--borderColor);
    overflow-x: auto;
}

li.selected a.critVal{
	border:none;
}

li.selected a.critVal .value::before{
	font-family:"fontello";
	content:"\2039";
	margin-right: 0.5em;
}

.warning.noMoreCrit{
	padding: 0.5em;
    background-color: var(--contentBG);
    border-radius: 8px;
    box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
	text-align: center;
	font-style: italic;
}

/* BLOCS */
.bkBase {
	margin-block: 1em;
}

.bkEmphasis{
	border: 5px double var(--accentColor);
	border-radius: 8px;
	padding: 0.7em;
}
.bkEmphasis .bkBase_ti, .bkLicence .bkBase_ti{
	margin:0;
	padding:0.5em 0;
	display: block;
	font-weight: 700;
	color: var(--titleFG);
}
.bkEmphasis .bkBase_co {
	padding-bottom: 0.5em;
}

.bkBase_co {
	padding-inline-start: 0.5em;
	margin-block-end: 0.5em;
}

.bkExtra{
    border-radius: 8px;
    border: 1px solid;
}
.bkExtra .bkBase_ti {
	font-weight: 700;
	color: var(--titleFG);
	margin-block: 0!important;
}
.bkExtra .bkBase_ti a{
	text-decoration: none;
	padding: 0.7em;
	display:flex;
	align-items:center;
}
.bkExtra .bkBase_ti a span{
	flex: 2 1 auto;
	margin-right:.5em;
}
.bkExtra .bkBase_co {
	padding-block: 0 0.7em;
	padding-inline: 0.7em;
}

.bkBase_closed::after{
	font-family:"fontello";
	content:'\E806';
}
.bkBase_open::after{
	font-family:"fontello";
	content:'\E80B';
}

.collBlk_open{
	margin-top: 0.5em;
}

/* RESPONSIVE */
@media (max-width: 800px) {
	html{
		position: static;
		overflow: auto;
		-webkit-overflow-scrolling: touch; /* for iOS */
	}
	body{
		min-height: 100%;
	}
	#root{
		padding-block-start: 72px;
	}
	header {
		margin:0;
		padding: 0;
	}
	header h1 {
		padding-inline-end: 85px;
	}
	.home #main {
		flex-direction: column;
	}
	#main > #keys{
		max-width: 100%;
		flex: 2 1 auto;
		overflow:visible;
	}
	div.keys, div.keys > .crit, .critlist{
		overflow: visible;
	}
	#keys.tab.selected + #rightDesktopPanel{
		display:none;
	}
	.critContent{
		overflow-y:visible;
	}
	#navMenu {
		top: -9999px;
	}
	#navMenu.showMenu {
		border-radius: 8px;
		box-sizing: border-box;
		z-index: 999;
		right: 1em;
		left:auto;
		top: 4em;
		max-width: 250px;
		background-color: var(--contentBG);
		padding: 0;	
		box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.25);
	}
	#navMenu li button{
		width: 100%;
		display:none;
		border-bottom: none;
		border-left: 5px solid transparent;
		padding-left: 1em;
		justify-content: flex-start;
	}
	button.openNavMenu,	#navMenu.showMenu, #navMenu.showMenu button[data-tab="taxlist"]{
		display:inherit;
	}
	#navMenu button {
		color: var(--accentColor);
	}
	#navMenu button.selected {
		color: var(--contentFG);
	}
	#navMenu.showMenu li button{
		display:flex;
		min-height: 35px;
	}
	
	#navMenu ul{
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		gap: 0;
	}
	#navMenu li{
		position: static;
	}
	#taxlist ul {
		max-height: none;
	}
	#info, #legal {
		padding: 0;
		overflow: hidden;
	}
	input.addPhoto{
		display:none;
	}
	#main #rightDesktopPanel, #main #keys .keys {
		padding-bottom: 50px;
	}
	dialog[open]{
		border-radius: 0;
	}
	dialog.confirm, dialog.alert {
		padding-inline: 0.5em;
    	padding-block: 2em 4em;
	}
	dialog.confirm .modal_content, 
	dialog.alert .modal_content {
		padding: 0;
	}
	.binCap_co img {
		max-width: -moz-available;
	    max-width: -webkit-fill-available;
	    max-width: fill-available;
	    height: auto;
	}
	#mobileZone .mobile {
		position: fixed;
		top: 8px;
   		right: 58px;
		width: 40px;
		height: 40px;
		z-index: 999;
	}
	#mobileZone .mobile::before{
		margin-right:0;
		font-size: 1.5rem;
	}
	#mobileZone .mobile span{
		position:absolute;
		left:-9999px;
	}
	.mobileFixedNav{
		display: block;
	}
	li.critVal .critBlk .tools{
		flex-direction: column;
	}
	.keyValues_co {
		column-count: 1;
	}
	.bkBase_co {
	    display: flex;
	    flex-direction: column;
	    gap: 0.5em;
	    overflow-x: auto;
	}
	.txt_tbcp {
		text-align: left;
	}
	.txt_img_ex, .txt_multimedia_ex {
		margin: 0;
	}
}

@media (max-width: 500px) {
	header h1{
		font-size: 1.2rem;;
	}
	.critListHead {
		flex-direction: column;
	}
	footer button{
		height:auto;
	}
}