
:root{
  --fontSize: 1rem;
  --fontStyle: monospace;
  --rootBG: #fafafa;
  --maxWidth: 152rem;
  --headerBG: #faf5f5;
  --headerBD: #ebebeb;
  --headerFG: #231f20;
  --contentBG: #ffffff;
	--contentFG: #231f20;
  --contentLightFG: #737373;
  --titleFG: #000;
  --accentColor: #bb3e3e;
  --accentColorFG: #ffffff;
	--accentColorLight: #b283fc;
  --borderColor: #cccccc;
  --successColor: #78B256;
  --errorColor: #c01300;
  --searchBG: #dfdcd9;
  --searchFG: #343434;
  --thBG: #d7d7d7;
  --thBD: #a5a5a5;
  --footerFG: #696969;
}